<div>
  <div>
    <h4><span style="backgroundcolor: gray;">注文履歴詳細</span></h4>
  </div>
  <div class="row">
    <div class="col-8">
      <p>注文情報</p>
      <table class="table table-bordered" style="border: 2px solid black;">
        <tbody>
          <tr>
            <th class="col-3">注文日</th>
            <td><%= l(@order.created_at, format: :short) %></td>
          </tr>
          <tr>
            <th class="col-3">配送先</th>
            <td>〒<%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td>
          </tr>
          <tr>
            <th class="col-3">支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th class="col-3">ステータス</th>
            <td><%= @order.status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">

    </div>
  </div>
</div>