<!DOCTYPE html>
<html>
  <head>
    <title>sample_EC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/ab55497b72.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="row mt-3 mb-3">

      <% if customer_signed_in? %>
        <div class="offset-1">
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
        </div>
      <% end %>
      </div>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>